h1{
    text-align: center;
    color:orange;
    text-shadow:2px 2px 2px grey;
}
.box1{
    display: flex;
    /* align-items: flex-end; */

}
.smallbox{
    flex:1;
    /*flex:0 0 200px*/
    background-color: green;
    border:1px solid black;
    margin:5px;
}
.box2{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.smallbox2{
    width: 100px;
    background-color: green;
    border:1px solid black;
    margin:5px;
}

.box3{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* height: 400px; */
    /* align-items: flex-end; */
    border:1px solid grey;
}

#sb1{
    /* align-self: flex-end; */
    /* height:35px; */
    font-size: 10px;

    background-color: green;
    margin:3px;
}

#sb2{
    /* height:20px; */
    font-size: 20px;
    background-color: green;
    margin:3px;
}

#sb3{
    /* height:30px; */
    font-size: 30px;
    background-color: green;
    margin:3px;
}
#sb4{
    /* height:17px; */
    font-size: 40px;
    background-color: green;
    margin:3px;
}
#sb5{
    font-size: 50px;
    /* height:25px; */
    background-color: green;
    margin:3px;
}
.box4{
    display: flex;
    padding: 10px 5%;
}
#b1{
    padding:10px 0;
    flex:0.5;
    background-color: orange;
    border-radius: 10px 0 0 10px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}
#b2{
    padding:10px 0;
    flex:0.5;
    background-color: lightblue;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}