.container{
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    justify-content: space-around;
    /* align-items: center; */
    height:300px;
}
.container_child{
    border:2px solid green;
}
.another{
    padding: 20px;
    border:1px solid black;
}

.container1{
    display: flex;
    flex-direction: row;
    background-color: yellow;
    /* justify-content: space-around; */
    align-items: center;
    height:300px;
}

.c1,.c3,.c4,.c5{
    flex:1 1 100px; 
}
.c2{
    flex:1 5 500px;
    align-self: flex-end;
}

.container2{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    /* justify-content: space-around; */
    align-items: center;
    height:300px;
    padding: 5%;
    margin:4%;
}
.d1,.d2,.d4,.d5{
    flex:1; 
}
.d3{
    flex:2;
}