.editme{
    background-color:rgba(0,125,0,0.5);
    padding:10px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px grey;
    cursor: pointer;
}
#first{
    color:#ff6347;
    text-align: end;
    font-size: large;
}
.second button{
    background-color: green;
    cursor: pointer;
    color:white;
}

#first,.second{
    width:50%;
    border:1px solid black;
}

/* 
difference between opacity and rgba */
#third{
    background-image:url('https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png');
    padding:30px;
    font-size: large;
    font-weight: 700;
    color:red;
}
#parent{
    font-size: 0; /*there was a white space between t1 and t2 as both of them are inline blocks which gives result to whitespace between them*/
}
.forarrangment{
    border:1px solid black;
    display:inline-block;
    font-size: 15px;
}
.t1{
    padding:30px 50px;

}
.t2{
    padding: 10px;
}
.t3{
    margin:30px;
}

.paddingexample *{
    border:1px solid red;
}
.paddedright{
    padding: 0px 20px 0px 0px;
    /* padding-right: 20px; */
}
.paddedleft{
    padding:0px 0px 0px 20px;
}
.paddedtop{
    padding:20px 0px 0px 0px;
}
.paddedbottom{
    padding-bottom:20px;
}
.howerex{
    padding:100px;
    width: 100px;
    background-color: green;
}
.howerex:hover{
    background-color: red;
}
.op{
    width:200px;
    height:25px;
    background-color: black;
    color:green;
    opacity: 0.5;
}