#ta1{
    border:2px solid black;
}
td{
    border:1px solid green;
    font-size: 30px;
}
.theader{
    background-color: green;
    color:white;
}
.head{
    position: relative;
    display: block;
    /* /* top:20px; */
    left:50px;
    background-color: greenyellow;
    border:1px solid red;
}
.head .subdiv{
    position: absolute;
    left:50px;
    display:inline-block;
    background-color: red;
}

.parent{
    background-color: hotpink;
    /* height:100px; */
}
.child{
    width:50%;
    background-color: lawngreen;
}
.grandchild{
    width:50%;
    background-color: lightblue;
}

.parent .child .grandchild{
    color:red;
}

.padding{
    border:1px solid red;
    padding:10px;
    /* t r b l , tb rl ,trbl ,*/
}
.margin{
    margin:0px 0px 0px 10px;
    border:1px solid black;
}
